<a href="https://colab.research.google.com/github/Nafees-Sultana033/SQL-Project/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#store name, age and city in variables and print them in one line

name = "My name is Nafees,"
age = "I am 60 years old, and"
city = "I live in Karachi"

print(name, age, city)

My name is Nafees, I am 60 years old, and I live in Karachi

# **21/09/25**

In [ ]:
#take two numbers as input and swap their values, print before and after swaping

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print("Before swapping: num1 =", num1, ", num2 =", num2)

# Swapping the numbers
temp = num1
num1 = num2
num2 = temp

print("After swapping: num1 =", num1, ", num2 =", num2)

Enter first number: 50
Enter second number: 100
Before swapping: num1 = 50 , num2 = 100
After swapping: num1 = 100 , num2 = 50

In [ ]:
#ask user for two numbers. print their sum, difference, product and qoutient

a=1000
b=54

print("Sum is:", (a+b))
print("Difference:", (a-b))
print("Product is:", (a*b))
print("Division is:", (a/b))
print("Round off:", (a//b))

Sum is: 1054
Difference: 946
Product is: 54000
Division is: 18.51851851851852
Round off: 18

In [ ]:
#ask the user a number and check if it odd or even

num = int(input("Enter the number:" ))

if num%2 == 0:
   print("Even")
else:
  print("Odd")

Enter the number:25
Odd

In [ ]:
#take the user's age and print eligible to vote if age is greater than 18

age = int(input("Enter the age:"  ))

if age >= 18:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Enter the age:13
Not eligible to vote

In [ ]:
#ask for three numbers and print the largest one

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

if a > b and a > c:
  print("largest number is:", a)
elif b > a and b > c:
  print("largest number is:", b )
else:
   print("largest number is:", c)

Enter the first number: 30
Enter the second number: 50
Enter the third number: 100
largest number is: 100

In [ ]:
#ask the student for markss(0-100). print the grade using conditions:
#90-100 "A", 75-89 "B", 50-74 "C", below 50 - "Fail"

marks = int(input("Enter marks: "))

if marks >= 90 and marks <= 100:
  print("Grade A")
elif marks >= 75 and marks <= 89:
  print("Grade B")
elif marks >= 50 and marks <= 74:
  print("Grade C")
else:
  print("Fail")

Enter marks: 88
Grade B

In [ ]:
#multiples of 5

for n in range(1, 11):
  print(f"5 x {n} = {5*n}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#sum of first n numbers
#ask the user for a number n. print the sum of numbers from 1 to n.

n = int(input("sum of numbers: "))
total = 0

for i in range (1, n+1):
   total = total + i
print("Sum of numbers from 1 to n is:", total)

sum of numbers: 30
Sum of numbers from 1 to n is: 465

In [ ]:
#find the factors of any number

factor = int(input("enter the number:" ))
factorial = 1

for n in range(1, factor+1):
    factorial *=n

print(factorial)

enter the number:25
15511210043330985984000000

In [ ]:
#print the first n numbers in fibonacci sequence

n = int(input("Enter the number: "))
x = 0
y = 1
for i in range(n):
   temp = x + y
   x = y
   y = temp
print(x)

Enter the number: 12
144

In [ ]:
#ask user for a number, count how many digits it has.

num = int(input("Enter the number: "))

count = len(str(num))

Enter the number: 984523

In [ ]:
#ask the user to enter number until they guess the secret number. print correct when guessed.

number = 7
guess = int(input("Enter the number: "))

while guess != number:
    guess = int(input("Enter the number: "))
    if guess == number:
      print("Congratulations, you guessed it right!")
      break
else:
    print("Try Again")

Enter the number: 5
Enter the number: 7
Congratulations, you guessed it right!

In [ ]:
for n in range(1, 6):
    print(n * "*")

*
**
***
****
*****

In [ ]:
num = 30001
num1 = str(num)

for i in reversed(range(len(num1))):
   print(num1[i])

1
0
0
0
3

# **30/09/25**

In [ ]:
import pandas as pd    #imports the pandas library

In [ ]:
#Load the dataset from the URL using read_csv.

url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
data = pd.read_csv(url) #reads the csv file from the url given
data.head() #by default displays first 5 rows
#Reflection: I learned how to load a dataset directly from a URL and view first 5 rows using pandas

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

Reflection: learned to uplaod the dataset from a url using read_csv() and view the data using data.head()

In [ ]:
#Display the first 10 rows using head().

data.head(10)  #gives the number of rows mentioned in the paranthesis starting from zero
#Reflection: learned how to view fisrt few rows of a dataset

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [ ]:
#Use info() to see column types and non-null counts.

data.info()  #helps viewing datatype
#Reflection: I learned to check the data types and dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [ ]:
#Use describe() to get numeric summaries (mean, std, etc.).

data.describe()  #gives statistical summary of numerical columns
#Reflection: learned how to view the summary of numerical data like count, mean, standard deviation, minimum, maximum

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [ ]:
#Use isnull().sum() to check for missing values.

data.isnull().sum()   #detects and counts missing values and sum() adds the numbers in the table
#Reflection: I learned to count missing values in each column

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [ ]:
#Use nunique() to find how many unique Pokmon names, types, and generations there are.

data.nunique()  #counts number of unique or distinct values in specified axis
#reflection: I learned how to count the number of unique values

#             721
Name          800
Type 1         18
Type 2         18
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [ ]:
#Use loc to select only those Pokmon where Type 1 is Water.

data.loc[data['Type 1'] == 'Water'] #selects data using row and column labels
#reflection: shows how to select rows based on a condition

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

In [ ]:
#Use iloc to display rows 1020 and columns 14.

data.iloc[10:21, 1:5] #selects data by integer position
#reflection: this tells how to select data by their integer positions

                       Name  Type 1  Type 2  HP
10                Wartortle   Water     NaN  59
11                Blastoise   Water     NaN  79
12  BlastoiseMega Blastoise   Water     NaN  79
13                 Caterpie     Bug     NaN  45
14                  Metapod     Bug     NaN  50
15               Butterfree     Bug  Flying  60
16                   Weedle     Bug  Poison  40
17                   Kakuna     Bug  Poison  45
18                 Beedrill     Bug  Poison  65
19    BeedrillMega Beedrill     Bug  Poison  65
20                   Pidgey  Normal  Flying  40

In [ ]:
#Use sort_values() to find the top 5 Pokmon by Attack power.

data.sort_values(by='Attack', ascending=False).head(5)  #arrange data in order by column
#reflection: this shows how to sort the data by attack column in descending order and display the top 5 rows

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True

In [ ]:
#Use query() to show Pokmon with Attack > 100 and Defense > 100.

data.query('Attack>100 and Defense>100') #filter columns using a condition
#reflection: this shows how to filter columns on multiple conditions

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
82,76,Golem,Rock,Ground,80,120,130,55,65,45,1,False
107,99,Kingler,Water,NaN,55,130,115,50,50,75,1,False
120,112,Rhydon,Ground,Rock,105,130,120,45,45,40,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
152,141,Kabutops,Rock,Water,60,115,105,65,70,80,1,False
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
251,232,Donphan,Ground,NaN,90,120,120,60,60,50,2,False
267,248,Tyranitar,Rock,Dark,100,134,110,95,100,61,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False
332,306,Aggron,Steel,Rock,70,110,180,60,60,50,3,False
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False
402,367,Huntail,Water,NaN,55,104,105,94,75,52,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False
412,376,Metagross,Steel,Psychic,80,135,130,95,90,70,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False
423,383,Groudon,Ground,NaN,100,150,140,100,90,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
500,450,Hippowdon,Ground,NaN,108,112,118,68,72,47,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
515,464,Rhyperior,Ground,Rock,115,140,130,55,55,40,4,False
521,470,Leafeon,Grass,NaN,65,110,130,60,65,95,4,False
538,481,Mesprit,Psychic,NaN,80,105,105,105,105,80,4,True
540,483,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True
543,486,Regigigas,Normal,NaN,110,160,110,80,110,100,4,True
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True
584,525,Boldore,Rock,NaN,70,105,105,50,40,20,5,False
585,526,Gigalith,Rock,NaN,85,135,130,60,80,25,5,False
626,565,Carracosta,Water,Rock,74,108,133,83,65,32,5,False
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False
693,632,Durant,Bug,Steel,58,109,112,48,48,109,5,False
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
749,680,Doublade,Steel,Ghost,59,110,150,45,49,35,6,False
759,689,Barbaracle,Rock,Water,72,105,115,54,86,68,6,False
767,697,Tyrantrum,Rock,Dragon,82,121,119,69,59,71,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#Use between() to find Pokmon whose Speed is between 50 and 100.

data[data['Speed'].between(50, 100)]   #checks if values falls within the specified range
#reflection: this shows how to filter rows where values fall within a specific range

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#Use groupby() to find the average HP by Type 1.

data.groupby('Type 1')['HP'].mean()   #used to group data and compute operations and mean() calculates the average of a value
#reflection: this shows how to group data by type1 and calculate average HP

Type 1
Bug         56.884058
Dark        66.806452
Dragon      83.312500
Electric    59.795455
Fairy       74.117647
Fighting    69.851852
Fire        69.903846
Flying      70.750000
Ghost       64.437500
Grass       67.271429
Ground      73.781250
Ice         72.000000
Normal      77.275510
Poison      67.250000
Psychic     70.631579
Rock        65.363636
Steel       65.222222
Water       72.062500
Name: HP, dtype: float64

In [ ]:
#Use agg() to find both min and max Attack for each Type 1.

data.groupby('Type 1')['Attack'].agg('min', 'max')  #use to apply one or more operations after grouping
#reflection: I learned how to apply multiple functions to grouped data using groupby() and agg()

Type 1
Bug         10
Dark        50
Dragon      50
Electric    30
Fairy       20
Fighting    35
Fire        30
Flying      30
Ghost       30
Grass       27
Ground      40
Ice         30
Normal       5
Poison      43
Psychic     20
Rock        40
Steel       24
Water       10
Name: Attack, dtype: int64

In [ ]:
#Use pivot_table() to show average Defense by Type 1 and Generation.

pd.pivot_table(data, values='Defense', index=['Type 1', 'Generation'], aggfunc={'Defense':"mean"})
#pivot_table() creates table showing summaries of data by one or more categories
#aggfunc() specifies which calculation to do
#reflection: I learned how to create pivot table to summarize defense by type1 and generation using aggfunc to calculate mean

                     Defense
Type 1 Generation
Bug    1           60.357143
       2           93.750000
       3           54.083333
       4           70.200000
       5           78.277778
...                      ...
Water  2           72.500000
       3           67.962963
       4           67.461538
       5           70.277778
       6           61.800000

[98 rows x 1 columns]

In [ ]:
#Use value_counts() to see which Type 1 appears most frequently.

data['Type 1'].value_counts()   #return a series of each unique value
#reflection: this shows how to get the count of each unique value using value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [ ]:
#Use fillna() to replace missing Type 2 values with None.

data['Type 2'].fillna('None').head(15) #fills NA/NaN values using the specified method.
#reflection: i learned how to replace missing value in the type2 column with 'none' using fillna()

0     Poison
1     Poison
2     Poison
3     Poison
4       None
5       None
6     Flying
7     Dragon
8     Flying
9       None
10      None
11      None
12      None
13      None
14      None
Name: Type 2, dtype: object

In [ ]:
#Use dropna() to remove rows with any missing data (and note how many rows remain).

print(data.dropna().shape) #Remove missing values and shape() return the the dimensionality of the data.
#reflection: this shows how to remove rows with missing values using dropna() and check the data's dimensions with shape

(414, 12)

In [ ]:
#Use replace() to change all Fire in Type 1 to  Fire.

data.replace(regex='Fire', value= ' Fire') #can modify specific values
#reflection: this shows how to replace values using replace() with a regular expression

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#Create a function that categorizes Attack as Low, Medium, High and apply it to create a new column Attack_Level.

def categorize_attack(attack):
  if attack < 50:
     return('low')
  elif attack < 100:
     return('medium')
  else:
     return('high')

data['Attack_Level']=data['Attack'].apply(categorize_attack)   #data['Attack_Level']- creates new column, apply(categorize_attack)- categorize an
print(data[['Name', 'Attack', 'Attack_Level']])                 #existing column
#reflection: i learned to create  a new column by applying a function to categorize values  from an existing column using apply()

                      Name  Attack Attack_Level
0                Bulbasaur      49          low
1                  Ivysaur      62       medium
2                 Venusaur      82       medium
3    VenusaurMega Venusaur     100         high
4               Charmander      52       medium
..                     ...     ...          ...
795                Diancie     100         high
796    DiancieMega Diancie     160         high
797    HoopaHoopa Confined     110         high
798     HoopaHoopa Unbound     160         high
799              Volcanion     110         high

[800 rows x 3 columns]

In [ ]:
#Use astype() to convert Generation into a string type.

data['Generation'].astype(str)  #convert a data from one type to another
#reflection: this shows how to convert the data type using astype()

0      1
1      1
2      1
3      1
4      1
      ..
795    6
796    6
797    6
798    6
799    6
Name: Generation, Length: 800, dtype: object

In [ ]:
#Split your dataset into two halves and combine them using concat().

df1 = pd.DataFrame(data.iloc[:400, :])
df2 = pd.DataFrame(data.iloc[400:800, :])
combined = pd.concat([df1, df2])  #combines two or more datas either rows or columns
#reflection: this shows how to split a data into parts and then combine using concat()

In [ ]:
#Use duplicated() to check for duplicates.

data.duplicated() #identifies duplicate values
#reflection: this shows how to identify duplicate rows in data using duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Length: 800, dtype: bool

In [ ]:
#Remove any duplicates using drop_duplicates().

data.drop_duplicates() #Return data with duplicate rows removed
#reflection: shows to remove duplicate rows from a data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#Use melt() to reshape the dataset  show Name and the stats (HP, Attack, Defense, Speed) in long format.

pd.melt(data, id_vars=['Name'], value_vars=['HP', 'Attack', 'Defense', 'Speed'],
        var_name= 'Stat', value_name= 'Value') #Unpivot a DataFrame from wide to long format by turning columns into rows
        #reflection: I learned to reshape the data from wide to long format using melt()

                       Name   Stat  Value
0                 Bulbasaur     HP     45
1                   Ivysaur     HP     60
2                  Venusaur     HP     80
3     VenusaurMega Venusaur     HP     80
4                Charmander     HP     39
...                     ...    ...    ...
3195                Diancie  Speed     50
3196    DiancieMega Diancie  Speed    110
3197    HoopaHoopa Confined  Speed     70
3198     HoopaHoopa Unbound  Speed     80
3199              Volcanion  Speed     70

[3200 rows x 3 columns]

In [ ]:
#Create a mini DataFrame with Pokmon names and ranks, then merge() it with your main DataFrame.

mini_df = pd.DataFrame({'Name': ['Bulbasaur', 'Ivysaur', 'Charmander', 'Diancie', 'Volcanion'],
                       'Rank': [1, 2, 3, 4, 5]})
merged = pd.merge(data, mini_df, on='Name', how='left')
print(merged)  #combines two datas by matching rows
#reflection: I learned to combine two datasets based on a common column using merge()

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Rank
0         65       65     45           1      False   1.0
1         80       80     60           1      False   2.0
2        100      100     80           1      False   NaN
3        122      120     80           1      False   NaN
4         60       50     65           1      False   3.0
..       ...      ...    ...         ...        ...   ...
795      100      150     50           6       True   4.0
796      160      110    110           6       True   NaN
797      150      130     70           6       True   NaN
798      170      130     80           6       True   NaN
799      130       90     70           6       True   5.0

[800 rows x 13 columns]

In [ ]:
#Use sample() to pick 8 random Pokmon.

data['Type 1'].sample(n=10) #Return a random sample of items of a data
#reflection: this shows how to select random sample of rows from a column using sample()

135        Fire
197       Grass
422       Water
78        Water
294       Water
464    Electric
633      Normal
73     Fighting
329       Steel
793        Dark
Name: Type 1, dtype: object

In [ ]:
#Use corr() to check which two attributes (among HP, Attack, Defense, Speed) are most correlated.

data[['HP', 'Attack', 'Defense', 'Speed']].corr() #shows how two or more columns are related to each other,  excluding NA/null values
#reflection: this shows how to find the correlation between numeric columns using corr()

               HP    Attack   Defense     Speed
HP       1.000000  0.422386  0.239622  0.175952
Attack   0.422386  1.000000  0.438687  0.381240
Defense  0.239622  0.438687  1.000000  0.015227
Speed    0.175952  0.381240  0.015227  1.000000

In [ ]:
#Export your cleaned and modified DataFrame to a CSV file named pokemon_cleaned.csv using to_csv().

data.to_csv('pokemon_cleaned.csv') #saves a data as a CSV file
#reflection: i learned to save a dataset to a CSV file using to_csv()

0         low
1      medium
2      medium
3        high
4      medium
        ...
795      high
796      high
797      high
798      high
799      high
Name: Attack, Length: 800, dtype: object